.alert {
	padding: 16px;
	border-radius: 8px;
	background: #fbeaea;
	position: fixed;
	color: #dd757b;
	border: 4px solid #dd757b;
	top: 32px;
	right: 32px;
	width: 100%;
	max-width: 400px;
	text-align: left;
}

.alert p {
	margin: 16px 0;
}

.alert kbd {
	background-color: #dd757b;
	padding: 4px 8px;
	border-radius: 4px;
	color: #fbeaea;
	display: inline-block;
}

.headerContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.alert h2 {
	margin-right: auto;
}

.alert button {
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	font-size: 14px;
	justify-content: center;
	background: transparent;
	color: #dd757b;
	border-color: #dd757b;
}

.alert button:hover {
	border-color: inherit;
}

@media (max-width: 768px) {
	.alert {
		right: 32px;
		max-width: 280px;
	}

	.alert pre {
		width: 100%;
	}
}
